<footer>
	<div id="footersocial">
		<ul>
		    <li>
		        <a href="https://www.facebook.com/RPGConnect/">Facebook</a>
	        </li>
		    <li>
		        <a href="https://twitter.com/rpg_connect">Twitter</a>
	        </li>
		</ul>
	</div>
	<p>Copyright 2016</p>
</footer>