{% extends "layout.twig" %}

{% block body %}
<div class="page-content">
    <h1>About Us</h1>
    
    <h2>What is RPG Connect?</h2>
    <p>RPG connect is chatroom service that’s designed to support playing in groups,
    <a href="http://en.wikipedia.org/wiki/Tabletop_role-playing_game">Pen & Paper Roleplaying games</a> online.</p> 
    
    <h2>What can I do at RPG Connect?</h2>
    <p>Here you can create, join and save your favourite chatrooms to your account for easy access, the chatrooms support 
    hosting multiple players and also has a Random Dice Roller that posts the results to chat for all the players to see. </p>
    
    <h2>How Do I Create a Chatroom?</h2>
    <p>To create a RPG Connect account go to the Register page and fill out our create account form to join RPG Connect.</p>
    
    <h2>Why was RPG Connect Created?</h2>
    <p>RPG Connect is a RMIT student project for Building IT Systems. We are a five-man group who set out to create a 
    web application that we thought could and should exist, that we could also contribute to in a way that would test 
    and challenge us and we hope RPG Connect meets those expectations.</p>
</div>
{% endblock %}