{% extends "layout.twig" %}

{% block body %}
<div class="page-content">
    <h1>Game Resources</h1>
    <div class="aligncenter">
    <p>
        Here are some websites and tools you may find useful to use as a Storyteller or as a Player:
    </p>
    </div>
    <br/><br/>
    <h3>List sourced from: <a href="http://www.penandpapergames.com/forums/archive/index.php/t-30221.html">Pen and Paper Games</a></h3>
    
        <h2>RPG Systems</h2>
    <p>
        OpenD6 (formerly West End Games' D6, base for original Star Wars and Ghostbusters)<br/>
        <a href="http://opend6.wikidot.com/">http://opend6.wikidot.com/</a><br/>
    
        RISUS the Anything RPG<br/>
        <a href="http://www222.pair.com/sjohn/downloads.htm#Risus">http://www222.pair.com/sjohn/downloads.htm#Risus</a><br/>

        Basic Fantasy Roleplaying<br/>
        <a href="http://www.basicfantasy.org/downloads.html">http://www.basicfantasy.org/downloads.html</a><br/>

        Free RPG Day Site<br/>
        <a href="http://www.freerpgday.com/">http://www.freerpgday.com/</a><br/>

        The Free RPG Blog<br/>
        <a href="http://www.thefreerpgblog.com/2008/12/free-images-to-spice-up-your-game.html">http://www.thefreerpgblog.com/2008/12/free-images-to-spice-up-your-game.html</a><br/>

        Open Game Systems<br/>
        <a href="http://wiki.rpg.net/index.php/Open_Game_Systems">http://wiki.rpg.net/index.php/Open_Game_Systems</a><br/>

        Modos Roleplaying Game<br/>
        <a href="http://modos-rpg.obsidianportal.com">http://modos-rpg.obsidianportal.com</a><br/>

        Dungeons and Dragons (5th ed)<br/>
        <a href="http://dnd.wizards.com/products/tabletop/players-basic-rules">http://dnd.wizards.com/products/tabletop/players-basic-rules</a><br/>

        d20 Source Reference Document<br/>
        <a href="http://www.d20srd.org/">http://www.d20srd.org/</a><br/>

        Free RPG List<br/>
        <a href="http://www.darkshire.net/jhkim/rpg/freerpgs/bykeyword/open-license.html">http://www.darkshire.net/jhkim/rpg/freerpgs/bykeyword/open-license.html</a><br/>

        1km1kt Free Game PDFs<br/>
        <a href="http://www.1km1kt.net/cat/rpg">http://www.1km1kt.net/cat/rpg</a><br/>
    </p>
        <h2>Free Adventures/Dungeons/Plots</h2>
    <p>
        One Page Dungeon Contest<br/>
        <a href="http://www.onepagedungeon.info/">http://www.onepagedungeon.info/</a><br/>

        Five Room Dungeons<br/>
        <a href="http://www.roleplayingtips.com/5-room-dungeons/">http://www.roleplayingtips.com/5-room-dungeons/</a><br/>

        RPGObjects Adventures<br/>
        <a href="http://www.rpgobjects.com/downloads">http://www.rpgobjects.com/downloads</a><br/>

        Free Online D&D Adventures<br/>
        <a href="http://www.freedungeons.com/">http://www.freedungeons.com/</a><br/>

        RPGNET Wiki Free Adventures<br/>
        <a href="http://wiki.rpg.net/index.php/Free_Adventures">http://wiki.rpg.net/index.php/Free_Adventures</a><br/>

        RPGLibrary<br/>
        <a href="https://www.rpglibrary.org/main.php?showgenre=Fantasy">https://www.rpglibrary.org/main.php?showgenre=Fantasy</a><br/>

        83 Free Adventures<br/>
        <a href="http://www.dungeonmastering.com/campaigns-adventures/83-free-dd-adventures">http://www.dungeonmastering.com/campaigns-adventures/83-free-dd-adventures</a><br/>
 
        Servitor Ludi Adventures<br/>
        <a href="http://servitorludi.blogspot.com/p/septembers-short-adventures.html">http://servitorludi.blogspot.com/p/septembers-short-adventures.html</a><br/>

        Arch Lich Thoth-Amon's Blog of Free Adventures<br/>
        <a href="http://www.penandpapergames.com/forums/entry.php/443-Hear-Ye-Hear-Ye-Thoth-s-Blog-of-free-rpg-modules-and-scenarios">http://www.penandpapergames.com/forums/entry.php/443-Hear-Ye-Hear-Ye-Thoth-s-Blog-of-free-rpg-modules-and-scenarios</a><br/>
 
        D&D Adventures 500+<br/>
        <a href="http://www.dndadventure.com/dnda_adventures.html">http://www.dndadventure.com/dnda_adventures.html</a><br/>

        Greatest Free Official Adventures<br/>
        <a href="http://www.rpggeek.com/geeklist/52182/greatest-free-official-dungeons-dragons-adventure">http://www.rpggeek.com/geeklist/52182/greatest-free-official-dungeons-dragons-adventure</a><br/>

        Dragonsfoot Free Downloads<br/>
        <a href="http://www.dragonsfoot.org/ad/">http://www.dragonsfoot.org/ad/</a><br/>

        Basic Fantasy Free Adventures<br/>
        <a href="http://www.basicfantasy.org/downloads.html#sn_modules">http://www.basicfantasy.org/downloads.html#sn_modules</a><br/>
    </p>
        <h2>Free Art</h2>
    <p>
        Free/Open Fantasy Art<br/>
        <a href="http://inkwellideas.com/2013/01/13-free-open-fantasy-art-sources/">http://inkwellideas.com/2013/01/13-free-open-fantasy-art-sources/</a><br/>

        Free RPG Art<br/>
        <a href="http://6d6fireball.com/rpg/category/rpg-art-creative-commons-public-domain/">http://6d6fireball.com/rpg/category/rpg-art-creative-commons-public-domain/</a><br/>

        Open Game Art<br/>
        <a href="http://opengameart.org/art-search-advanced?keys=&field_art_type_tid%5B%5D=9">http://opengameart.org/art-search-advanced?keys=&field_art_type_tid%5B%5D=9</a><br/>

        Open Clip Art Library (RPG Search)<br/>
        <a href="https://openclipart.org/search/?query=rpg">https://openclipart.org/search/?query=rpg</a><br/>

        1500 Free Icons For Your Game<br/>
        <a href="http://game-icons.net/">http://game-icons.net/</a><br/>
    </p>
        <h2>Free Maps/Tiles</h2>
    <p>
        Donjon Fantasy World Generator<br/>
        <a href="http://donjon.bin.sh/fantasy/world/">http://donjon.bin.sh/fantasy/world/</a><br/>

        Free Maps Thread, GamerPrinter<br/>
        <a href="http://www.enworld.org/forum/showthread.php?257465-Gamerprinter-s-Map-Emporeum">http://www.enworld.org/forum/showthread.php?257465-Gamerprinter-s-Map-Emporeum</a><br/>

        Hexographer<br/>
        <a href="http://www.hexographer.com/">http://www.hexographer.com/</a><br/>

        RPG Mapshare<br/>
        <a href="http://rpgmapshare.com/">http://rpgmapshare.com/</a><br/>

        Pyromancers<br/>
        <a href="http://pyromancers.com/">http://pyromancers.com/</a><br/>

        RPG Virtual Tabletop Maps<br/>
        <a href="http://rpgvirtualtabletop.wikidot.com/maps">http://rpgvirtualtabletop.wikidot.com/maps</a><br/>

        Paratime Design<br/>
        <a href="http://paratime.ca/rpg-games.html">http://paratime.ca/rpg-games.html</a><br/>

        Anamap Online Mapmaker<br/>
        <a href="http://deepnight.net/tools/tabletop-rpg-map-editor/">http://deepnight.net/tools/tabletop-rpg-map-editor/</a><br/>

        Ye Old Mapmaker<br/>
        <a href="http://www.yeoldemapmaker.com/">http://www.yeoldemapmaker.com/</a><br/>

        Dave's Mapper<br/>
        <a href="http://davesmapper.com/">http://davesmapper.com/</a><br/>

        Pymapper<br/>
        <a href="http://davesmapper.com/">http://davesmapper.com/</a><br/>

        Dungeoneering<br/>
        <a href="http://www.dungeoneering.net/">http://www.dungeoneering.net/</a><br/>

        Cartographer's Guild Free RPG Maps<br/>
        <a href="http://www.cartographersguild.com/showthread.php?t=13797">http://www.cartographersguild.com/showthread.php?t=13797</a><br/>

        Dragonsfoot Maps<br/>
        <a href="http://www.dragonsfoot.org/maps/">http://www.dragonsfoot.org/maps/</a><br/>

        Dream Weaves Worlds Maps<br/>
        <a href="http://www.dreamweavedworlds.com/Articles.html">http://www.dreamweavedworlds.com/Articles.html</a><br/>

        Dungeons Unlimited<br/>
        <a href="http://www.angelfire.com/rpg2/dungeonsunlimited/">http://www.angelfire.com/rpg2/dungeonsunlimited/</a><br/>

        Fantastic Maps<br/>
        <a href="http://www.fantasticmaps.com/">http://www.fantasticmaps.com/</a><br/>

        Pinterest Batltemaps<br/>
        <a href="https://www.pinterest.com/caleballen731/fantasy-rpg-battlemaps/">https://www.pinterest.com/caleballen731/fantasy-rpg-battlemaps/</a><br/>

        Hexmapper (download)<br/>
        <a href="http://www.mentalwasteland.net/HexMapper/">http://www.mentalwasteland.net/HexMapper/</a><br/>

        Gozzy's Map Creator<br/>
        <a href="http://www.gozzys.com/dungeon-maps">http://www.gozzys.com/dungeon-maps</a><br/>

        City Map Generator<br/>
        <a href="http://www.stargazersworld.com/2009/02/27/roleplaying-city-map-generator/">http://www.stargazersworld.com/2009/02/27/roleplaying-city-map-generator/</a><br/>

        Greenfish Relief Map Generator (download)<br/>
        <a href="http://www.snapfiles.com/get/gfreliefmap.html">http://www.snapfiles.com/get/gfreliefmap.html</a><br/>

        Battlegrounds Index of Free Map Resources<br/>
        <a href="http://www.battlegroundsgames.com/links.html">http://www.battlegroundsgames.com/links.html</a><br/>

        AutoREALM (download)<br/>
        <a href="http://sourceforge.net/projects/autorealm/">http://sourceforge.net/projects/autorealm/</a><br/>

        RPGMapMaker<br/>
        <a href="http://fmteau.perso.neuf.fr/rpgmapmaker/rpgmapmaker.htm">http://fmteau.perso.neuf.fr/rpgmapmaker/rpgmapmaker.htm</a><br/>

        Stonesword Dungeonmaker, Mapmaker, etc<br/>
        <a href="http://www.stonesword.com/">http://www.stonesword.com/</a><br/>

        Dungeoncrafter III - previously commercial (download)<br/>
        <a href="http://www.freenew.net/windows/dungeon-crafter-iii-silver-edition-3033/19872.htm">http://www.freenew.net/windows/dungeon-crafter-iii-silver-edition-3033/19872.htm</a>
    </p>
        <h2>Free Virtual Tabletops</h2>
    <p>
        OpenRPG (download from top of right menubar)<br/>
        <a href="http://www.rpgobjects.com/orpg">http://www.rpgobjects.com/orpg</a><br/>

        Maptool (download)<br/>
        <a href="http://www.rptools.net/index.php?page=downloads#MapTool">http://www.rptools.net/index.php?page=downloads#MapTool</a><br/>

        Roll20 - online visual tabletop<br/>
        <a href="http://www.roll20.net"></a>http://www.roll20.net<br/>

        Screen Monkey - paid and free versions (download GM client, players use browser)<br/>
        <a href="http://www.nbos.com/products/screenmonkey/screenmonkey.htm">http://www.nbos.com/products/screenmonkey/screenmonkey.htm</a><br/>

        Index of Virtual Tabletops<br/>
        <a href="http://rpgvirtualtabletop.wikidot.com/the-vts">http://rpgvirtualtabletop.wikidot.com/the-vts</a><br/>

        Vassal - general tabletop to play some board games online (download)<br/>
        <a href=""></a>http://www.vassalengine.org/<br/>
    </p>
        <h2>Free Random Generators</h2>
    <p>
        Abstruse Decapod's Toys (names, monsters, technobabble, etc)<br/>
        <a href="http://www.peracles-rpg.com/guest/jp/toys/index.php?pagecont=22">http://www.peracles-rpg.com/guest/jp/toys/index.php?pagecont=22</a><br/>

        Chris Pounds Generators (includes tons of US census name elements)<br/>
        <a href="http://generators.christopherpound.com/">http://generators.christopherpound.com/</a><br/>

        Chaotic Shiny - very large list, lots of variety, great page layout, crisp site!<br/>
        <a href="http://chaoticshiny.com/index.php">http://chaoticshiny.com/index.php</a><br/>

        Springhole Generators<br/>
        <a href="http://www.springhole.net/writing_roleplaying_randomators/">http://www.springhole.net/writing_roleplaying_randomators/</a><br/>

        Behind the Name Generator<br/>
        <a href="http://www.behindthename.com/random/">http://www.behindthename.com/random/</a><br/>

        Seventh Sanctum (absolutely enormous)<br/>
        <a href="http://www.seventhsanctum.com/">http://www.seventhsanctum.com/</a><br/>

        Generators of the Seventh Order (a community and archive of user made generators!)<br/>
        <a href="http://www.lastgaspgrimoire.com/generators/the-seventh-order-of-the-random-generator/">http://www.lastgaspgrimoire.com/generators/the-seventh-order-of-the-random-generator/</a><br/>

        Rangen (various, including for writing)<br/>
        <a href="http://www.rangen.co.uk/">http://www.rangen.co.uk/</a><br/>

        RandomGen (make your own generator, etc)<br/>
        <a href="http://orteil.dashnet.org/randomgen/">http://orteil.dashnet.org/randomgen/</a><br/>

        Donjon Generators<br/>
        <a href="http://donjon.bin.sh/">http://donjon.bin.sh/</a><br/>

        Serendipity Generators<br/>
        <a href="http://nine.frenchboys.net/">http://nine.frenchboys.net/</a><br/>

        Inspiration Pad (downloadable app to let you make your own generators)<br/>
        <a href="http://www.nbos.com/products/ipad/ipad.htm">http://www.nbos.com/products/ipad/ipad.htm</a><br/>
        
        NBOS Online Generators<br/>
        <a href="http://www.rpginspiration.com/">http://www.rpginspiration.com/</a><br/>
    </p>
        <h2>Free Paper Miniatures/Tokens</h2>
    <p>
        Token Tool - create your own tokens (download)<br/>
        <a href="http://www.rptools.net/index.php?page=downloads#TokenTool">http://www.rptools.net/index.php?page=downloads#TokenTool</a><br/>

        Devin's Tokens (also has pay tokens)<br/>
        <a href="http://immortalnights.com/tokensite/">http://immortalnights.com/tokensite/</a><br/>

        OneMonk Minis<br/>
        <a href="http://onemonk.com/Home.html">http://onemonk.com/Home.html</a><br/>

        Junior General Minis (majority are soldiers/military/vehicles)<br/>
        <a href="http://www.juniorgeneral.org/index.php/figure/figureList/masters">http://www.juniorgeneral.org/index.php/figure/figureList/masters</a><br/>

        Zen Paper Miniatures (various genres)<br/>
        <a href="http://zenseeker.net/PaperMiniatures/">http://zenseeker.net/PaperMiniatures/</a><br/>

        Great RPG Swindle's Index of Free Paper Mini Resources<br/>
        <a href="http://tartex.blogspot.com/2009/04/free-paper-miniatures-flat-figures.html">http://tartex.blogspot.com/2009/04/free-paper-miniatures-flat-figures.html</a><br/>

        How to Make Paper Minis Instructable<br/>
        <a href="http://www.instructables.com/id/How-to-Make-Paper-Minis/">http://www.instructables.com/id/How-to-Make-Paper-Minis/</a><br/>

        Printable Heroes Pack<br/>
        <a href="http://printableheroes.tumblr.com/">http://printableheroes.tumblr.com/</a><br/>

        Paper Minis/Papercraft<br/>
        <a href="http://odd74.proboards.com/thread/7570/free-paper-minis">http://odd74.proboards.com/thread/7570/free-paper-minis</a><br/>
   
        Dark City Downloads<br/>
        <a href="http://www.darkcitygames.com/">http://www.darkcitygames.com/</a><br/>
    
        Make a Paper and Cardboard Medieval Castle<br/>
        <a href="http://www.stormthecastle.com/paper-castle/make-a-cardboard-castle.htm">http://www.stormthecastle.com/paper-castle/make-a-cardboard-castle.htm</a><br/>
 
        Medieval Buildings Paper Models<br/>
        <a href="http://papermau.blogspot.com/2011/11/medieval-buildings-paper-models-by.html">http://papermau.blogspot.com/2011/11/medieval-buildings-paper-models-by.html</a><br/>
   
        Paper model of an early middle-age castle named Louvaillac.<br/>
        <a href="http://www.mythoz.org/Joomla/index.php/En/chateau-medieval-mural/medieval-castle-intro">http://www.mythoz.org/Joomla/index.php/En/chateau-medieval-mural/medieval-castle-intro</a><br/>
   
        Free Paper Miniatures Flat Figures and Minis (list of links)<br/>
        <a href="http://tartex.blogspot.com/2009/04/free-paper-miniatures-flat-figures.html">http://tartex.blogspot.com/2009/04/free-paper-miniatures-flat-figures.html</a><br/>

        Fantasy paper miniature models (blog)<br/>
        <a href="http://minipapermodels.blogspot.com/">http://minipapermodels.blogspot.com/</a><br/>
   
        Free paper miniatures and terrain on the web (discussion on SJG forum)<br/>
        <a href="http://forums.sjgames.com/showthread.php?t=17500">http://forums.sjgames.com/showthread.php?t=17500</a><br/>
   
        Cardboard Warriors<br/>
        <a href="http://cardboard-warriors.proboards.com/">http://cardboard-warriors.proboards.com/</a><br/>
      
        Arion Games Minis<br/>
        <a href="http://www.arion-games.com/minis/freebies.html">http://www.arion-games.com/minis/freebies.html</a><br/>

        Heroquest Minis<br/>
        <a href="http://boardgamegeek.com/filepage/79816/hq-paper-minis">http://boardgamegeek.com/filepage/79816/hq-paper-minis</a> <br/>
      
        Paper Minis on Tumblr<br/>
        <a href="https://www.tumblr.com/tagged/paper-minis">https://www.tumblr.com/tagged/paper-minis</a><br/>
    </p>
        <h2>Free Visual Character Makers</h2>
     <p>
        Hero Machine<br/>
        <a href="http://www.heromachine.com/heromachine-2-5-character-portrait-creator/">http://www.heromachine.com/heromachine-2-5-character-portrait-creator/</a><br/>
      
        Marvel Superhero Creator<br/>
        <a href="http://marvel.com/games/play/31/create_your_own_superhero">http://marvel.com/games/play/31/create_your_own_superhero</a><br/>
  
        Fabrica de Herois (Spanish)<br/>
        <a href="http://fabricadeherois.blogspot.com.br/p/fabrica-de-herois-2011.html">http://fabricadeherois.blogspot.com.br/p/fabrica-de-herois-2011.html</a><br/>
 
        Magic Set Editor<br/>
        <a href="http://magicseteditor.sourceforge.net/download">http://magicseteditor.sourceforge.net/download</a><br/>

        Flash Face Maker <br/>
        <a href="http://flashface.ctapt.de">http://flashface.ctapt.de</a><br/>
    </p>
        <h2>Free Other RPG Resources</h2>
    <p>
        RPGNow Free Downloads (games, adventures, supplements, charts, minis, etc)<br/>
        <a href="http://www.rpgnow.com/browse.php?pfrom=0&pto=0&x=8&y=14">http://www.rpgnow.com/browse.php?pfrom=0&pto=0&x=8&y=14</a><br/>
   
        Public Domain Superheroes<br/>
        <a href="http://pdsh.wikia.com/wiki/Category:Images_of_RPG_Characters">http://pdsh.wikia.com/wiki/Category:Images_of_RPG_Characters</a><br/>
    
        GM Tips<br/>
        <a href="http://www.roleplayingtips.com/archives/">http://www.roleplayingtips.com/archives/</a><br/>

        RPG.NET (biggest general RPG site/forum)<br/>
        <a href="http://www.rpg.net">http://www.rpg.net</a><br/>

        Strolen's Citadel (huge variety of articles, tips, randomness, items, npcs, adventures, rules, etc)<br/>    
        <a href="http://strolen.com/browsing/articles/Rules_and_Advice">http://strolen.com/browsing/articles/Rules_and_Advice</a><br/>
    </p>

</div>
{% endblock %}