{# Our base layout file so we don't have to repeat ourselves #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>RPG Connect</title>
        <link rel="stylesheet" href="/assets/css/app.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        
        {# Header block so child templates can add additional content here if needed #}
        {% block head %} {% endblock %}
    </head>
    <body>
        {# Flash messages displayed here #}
        {% if flashMessages %}
            <div id="messages">
                {% for key, messages in flashMessages %}
                    {% for message in messages %}
                        <h1 class={{key}}>{{ message }}</h1>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        {# Individual page content is rendered below #}
        <div id="content">
            {# Page content will be rendered in the body block #}
            {% block body %} {% endblock %}
        </div>
    </body>
</html>