{% extends "layout.twig" %}

{% block body %}
    <form action={{ path_for('create_session') }} method="POST">
        <input type="hidden" name="csrf_name" value={{ csrf_name }}>
        <input type="hidden" name="csrf_value" value={{ csrf_value }}>
        
        <input type="text" name="email" placeholder="Username or Email">
        <input type="password" name="password" placeholder="Password">
        
        <button type="submit">Login</button>
    </form>
{% endblock %}